@charset "utf-8";

/*顶部导航*/
.topnav{
    background-color: #222;
    color:#a5a5a5 ;
    height: 30px;
    margin: 0 10px;
    font-size: 15px;
}
.topnav span{
    float: right;
}

.topnav a{
    color: #a5a5a5;
    margin: 0 10px;
}
.topnav a:hover{
    color: #fff;
}
/*头部导航*/
.header{
    background-color: #fff;
    line-height: 60px;
    height: 70px;
}
.header div span{
    color:blue;
    box-shadow: 5px 5px 5px rgb(50, 50, 157);
    font-size: 30px;
    float: left;
}
.header-nav {
    float: right;
    font-size: 20px;
    margin: 0 200px;
}
.header-nav a{
    margin: 0 20px;
    margin-left: none;
}
.header-nav span{
    color: blue;
    font-size: 25px;
}
/*横幅*/
.banner{
    background-image: url(../images/横幅背景.jpg);
    background-size: cover;
    background-position: 40% 42%;
    height: 185px;
}
/*主体部分*/
.main{
    background-color: #f00;
    margin: 15px auto;
}
/*左边文章列表*/
.main-left{
    width: 853px;
    background-color: #0a0;
    height: 400px;
    float: left;
}
/*右边栏*/
.main-right{
    width: 332px;
    background-color: #0a0;
    height: 400px;
    float: right;
}
/*友情链接*/
.links{
    background-color: #f00;
    height: 60px;
}
/*尾部*/
.footer{
    background-color: #fff;
    height: 100px;
}